/**************************************************/
/*                                                */
/*          RUSHCLIN TAKAM COPYRIGHT 2023         */
/*                                                */
/**************************************************/
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/abril-fatface");
@import url("https://fonts.cdnfonts.com/css/agustina");
/* THEME */
:root {
  --hue-1: 257;
  --hue-2: 47;
  --bg-color: hsl(var(--hue-1), 100%, 97%);
  --main-color-1: hsl(var(--hue-1), 100%, 60%);
  --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
  --main-color-2: hsl(var(--hue-2), 100%, 61%);
  --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
  --bg-color-1: hsl(var(--hue-1), 100%, 91%);
  --bg-color-2: #fff;
  --bg-color-3: hsl(var(--hue-1), 100%, 98%);
  --bg-color-transparent: rgba(255, 255, 255, 0.6);
  --heading-color: hsl(var(--hue-1), 61%, 24%);
  --text-color: hsl(var(--hue-1), 17%, 63%);
  --section-padding: 3rem;
}

/* GENERAL STYLE */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}
body.open .hamburger .bar:first-child {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: 0.2s;
}
body.open .hamburger .bar:last-child {
  bottom: 50%;
  transform: translateY(50%) rotate(45deg);
  transition: 0.2s;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: hsla(var(--hue-1), 100%, 60%, 0.9);
  color: #fff;
}

::selection {
  background-color: hsla(var(--hue-1), 100%, 60%, 0.9);
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(0deg, 0%, 95%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0deg, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0deg, 0%, 70%);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* REFUSABLE CSS */
.container {
  position: relative;
  width: 100%;
  max-width: 75rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.sub-heading {
  color: var(--heading-color);
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  border-left: 3px solid var(--main-color-2);
  padding: 0.13rem 0.75rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
@media (max-width: 1000px) {
  .sub-heading {
    font-size: 0.75rem;
  }
}

.heading {
  color: var(--heading-color);
  font-size: 3rem;
  font-weight: 400;
  font-family: "Abril Fatface", cursive;
  line-height: 1.3;
}
@media (max-width: 1000px) {
  .heading {
    font-size: 2rem;
  }
}

.text {
  color: var(--text-color);
  font-size: 0.9rem;
  margin: 1.5rem 0;
}
@media (max-width: 1000px) {
  .text {
    font-size: 0.84rem;
    margin: 1.5rem 0;
  }
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  background-color: var(--main-color-1);
  box-shadow: 2px 2px 2px blue;
  text-transform: capitalize;
  font-size: 0.85rem;
  color: #fff;
}
.btn:hover {
  background-color: var(--main-color-1);
}

.section {
  position: relative;
  padding: var(--section-padding) 0;
}

.masked-image {
  -webkit-mask-image: url("./../imgs/masked.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  position: relative;
  display: block;
}

.img-fluid {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.hamburger {
  display: none;
  padding: 1rem 0;
  height: 12px;
  width: 25px;
  box-sizing: content-box;
  cursor: pointer;
  position: relative;
}
.hamburger .bar {
  width: 100%;
  height: 2px;
  background-color: var(--heading-color);
  border-radius: 3px;
  position: absolute;
  transition: 0.3s;
}
.hamburger .bar:first-child {
  top: 1rem;
}
.hamburger .bar:last-child {
  bottom: 1rem;
}

/* NAVBAR STYLE */
header {
  position: fixed;
  width: 100%;
  height: 70px;
  overflow-y: hidden;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  transition: 0.4s;
}
header.scrolled {
  background-color: var(--bg-color-transparent);
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
header nav.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header nav.container .logo {
  font-family: "Agustina", cursive;
  font-size: 1.5rem;
  color: var(--heading-color);
  letter-spacing: 1px;
}
header nav.container .logo span {
  opacity: 0;
  transition: opacity 0.4s;
}
header nav.container .logo span.scrolled {
  opacity: 1;
}
header nav.container .logo:hover span {
  opacity: 1;
}
header nav.container .links ul {
  display: flex;
  align-items: center;
  width: 100%;
}
header nav.container .links ul .nav-link {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  color: var(--text-color);
  font-weight: 400;
  opacity: 0.9;
  transition: 0.3s;
}
header nav.container .links ul .nav-link:hover, header nav.container .links ul .nav-link.active {
  color: var(--heading-color);
}
header nav.container .links ul .nav-link:hover::after, header nav.container .links ul .nav-link:hover.active::after, header nav.container .links ul .nav-link.active::after, header nav.container .links ul .nav-link.active.active::after {
  opacity: 1;
  transition: 0.3s;
}
header nav.container .links ul .nav-link::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--main-color-1);
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
}
header nav.container .toggle-btn {
  cursor: pointer;
  color: var(--heading-color);
  min-width: 40px;
  height: 40px;
  background-color: var(--bg-color-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
  transition: 0.4s;
}
header nav.container .toggle-btn:hover {
  filter: brightness(95%);
}

/* SHOWCASE AREA SECTION */
.showcase-area {
  padding: 80px 0;
  width: 100%;
  overflow: hidden;
}
.showcase-area .sub-heading {
  margin-bottom: 0.7rem;
}
.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: calc(100vh - 120px);
  max-height: 600px;
  align-items: center;
  /* .showcase-image {
       position: relative;
       width: 100%;
       min-height: calc(100% + 120px);
       background-image: linear-gradient(
         124deg,
         var(--main-color-1),
         var(--main-color-2)
       );
       margin-top: -120px;

       .person {
         position: absolute;
         width: 100%;
         bottom: 0;
         left: 50%;
         top: 10%;
         transform: translateX(-50%);
       }
     }
  */
}
@media (max-width: 1000px) {
  .showcase-area .container {
    grid-template-columns: 1fr 400px;
  }
}
.showcase-area .container .showcase-image {
  position: relative;
  width: 100%;
  /* min-height: calc(100vh - 120px); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase-area .container .showcase-image .person {
  width: 65%;
  transform: rotate(0deg);
  transition: 0.8s;
  border-radius: 5px;
}
.showcase-area .container .showcase-image .person:hover, .showcase-area .container .showcase-image .person:focus {
  transform: rotate(-3deg);
}
.showcase-area .container .cta {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}
.showcase-area .container .cta .btn {
  margin-right: 1.5rem;
}
.showcase-area .dots {
  width: 100px;
  position: absolute;
  left: 80%;
  top: 20%;
  transform: translate(-50%, -50%);
}
.showcase-area .circle {
  position: absolute;
  width: 190px;
  left: 0;
  top: 80%;
  transform: rotate(-50%, -50%);
}
.showcase-area .square {
  position: absolute;
  width: 70px;
  left: 20%;
  bottom: 20px;
  transform: rotate(-50%, -50%);
}

/* ABOUT SECTION*/
.about .container {
  display: grid;
  grid-template-columns: 1.05fr 1fr;
  align-items: center;
}
.about .container .about-image {
  display: flex;
  padding: 6rem;
}
.about .container .about-image .img-fluid {
  border-radius: 10px;
  transition: 0.7s;
  transform: rotate(-3deg);
}
.about .container .about-image .img-fluid:hover {
  transform: rotate(0deg);
}
.about .container .btn {
  margin-right: 1rem;
}
.about .container .text {
  margin: 1rem 0 2rem;
}
.about .triangle {
  position: absolute;
  width: 95px;
  left: 90%;
  top: 25%;
  transform: rotate(-50%, -50%);
  opacity: 0.4;
}

/* SKILLS SECTION */
.skills {
  overflow: hidden;
}
.skills .skills-box {
  background-color: var(--bg-color-2);
  padding: 5rem 6rem;
  border-radius: 20px;
  width: 100%;
}
.skills .skills-box .dots {
  position: absolute;
  width: 90px;
  right: 60px;
  top: 50px;
}
.skills .skills-wrap .skills-heading {
  padding-bottom: 1.05rem;
  margin-top: 1rem;
}
.skills .skills-wrap .skills-heading .sub-heading {
  border-left: solid 0px;
  margin-left: 0px;
  padding: 0;
  font-family: "Abril Fatface", cursive;
  font-size: 0.9rem;
}
.skills .skills-wrap .skills-heading hr {
  margin-bottom: 1rem;
}
.skills .skills-wrap .skills-group {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  justify-content: space-between;
}
.skills .skills-wrap .skills-group .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.skills .skills-wrap .skills-group .skill .sk-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px var(--bg-color);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: var(--bg-color);
  transition: 0.5s;
}
.skills .skills-wrap .skills-group .skill .sk-image:hover, .skills .skills-wrap .skills-group .skill .sk-image:focus {
  border-color: var(--bg-color);
  background-color: transparent;
}
.skills .skills-wrap .skills-group .skill .sk-title {
  color: var(--color);
}

/* EXPERIENCE SECTION */
.experience {
  overflow: hidden;
  padding: 7rem 0 0 0;
}
.experience .experience-box {
  background-color: var(--bg-color-2);
  padding: 5rem 6rem;
  border-radius: 20px;
  width: 100%;
}
.experience .experience-box .experience-heading {
  padding-top: 0.5rem;
}
.experience .experience-box .experience-heading hr {
  margin-bottom: 1.5rem;
}
.experience .experience-box .experience-heading .sub-heading {
  border-left: 0;
  padding-left: 0;
  font-family: "Abril Fatface";
}
.experience .experience-box .experience-item {
  border-bottom: solid 1px var(--main-color-1);
  margin-bottom: 1.5rem;
}
.experience .experience-box .experience-item .experience-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.experience .experience-box .experience-item .experience-header .experience-title {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 1rem;
}
.experience .experience-box .experience-item .experience-header .experience-subtitle {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.experience .experience-box .experience-item .experience-header .experience-work-time {
  font-size: 0.6rem;
}

/* CONTACT SECTION */
.contact {
  padding: 7rem 0 0 0;
}
.contact .triangle {
  position: absolute;
  width: 150px;
  bottom: 20%;
  left: 10%;
  transform: rotate(50%, 50%);
  opacity: 0.2;
}
.contact .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
.contact .container .mail {
  color: var(--main-color-1);
  font-weight: 500;
  font-size: 1.1rem;
}
.contact .container .mail i {
  color: var(--main-color-2);
  transition: 3s;
  margin-right: 0;
}
.contact .container .contact-form {
  background-color: var(--bg-color-2);
  border-radius: 20px;
  padding: 3.5rem 3rem;
  display: flex;
  flex-direction: column;
}
.contact .container .contact-form h3 {
  color: var(--heading-color);
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
  line-height: 0.8;
}
.contact .container .contact-form .text-input {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  background-color: var(--bg-color-3);
  border: 2px solid var(--bg-color-3);
  margin-bottom: 0.7rem;
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--heading-color);
  outline: none;
  transition: 0.3s;
}
.contact .container .contact-form .text-input::-moz-placeholder {
  color: var(--text-color);
}
.contact .container .contact-form .text-input:-ms-input-placeholder {
  color: var(--text-color);
}
.contact .container .contact-form .text-input::placeholder {
  color: var(--text-color);
}
.contact .container .contact-form .text-input:hover {
  filter: brightness(97%);
}
.contact .container .contact-form .text-input:focus, .contact .container .contact-form .text-input:valid {
  filter: brightness(100%);
  background-color: var(--bg-color-1);
  border-color: var(--main-color-1);
}
.contact .container .contact-form textarea {
  resize: none;
  min-height: 150px;
}
.contact .container button:focus, .contact .container button:hover {
  border: solid 2px var(--main-color-1);
  cursor: pointer;
}

/* FOOTER SECTION */
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .container .social-media {
  display: flex;
}
footer .container .social-media .social-link {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 1rem;
  background-color: var(--bg-color-1);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
footer .container .social-media .social-link:hover {
  color: var(--main-color-1);
}
footer .logo {
  font-family: "Agustina", sans-serif;
  font-size: 1.5rem;
}

/* MEDIA QUERIES */
@media (max-width: 786px) {
  :root {
    --section-padding: 4.5rem;
  }
  body.open header {
    height: 505px;
    background-color: var(--bg-color-2);
  }
  body.open .overlay {
    opacity: 1;
    pointer-events: auto;
  }
  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 6;
    opacity: 0;
  }
  header {
    border-color: var(--bg-color-2);
    height: 69px;
    padding: 0.5rem 0;
  }
  header .hamburger {
    display: block;
  }
  header nav.container {
    justify-content: space-between;
  }
  header nav.container .logo {
    font-size: 20px;
    margin-top: 5px;
  }
  header .links {
    order: 3;
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0 2rem;
  }
  header .links ul {
    flex-direction: column;
    position: relative;
  }
  header .links ul .nav-link {
    padding: 1.5rem 0;
    color: var(--heading-color);
    font-weight: 500;
    background-color: transparent;
  }
  header .links::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0.5px;
    background-color: var(--heading-color);
    top: 60px;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .showcase-area .container {
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    height: revert;
  }
  .showcase-area .container .text {
    margin: 0.2rem 0;
  }
  .showcase-area .container .cta {
    margin-top: 1rem;
  }
  .showcase-area .container .showcase-info {
    width: 100%;
    margin-top: 1rem;
  }
  .showcase-area .container .circle {
    width: 120px;
  }
  .showcase-area .container .square {
    left: 80%;
    top: 20%;
  }
  .about .container {
    grid-template-columns: 1fr;
  }
  .about .container .about-image {
    padding: 1rem 0 3rem 0;
  }
  .about .triangle {
    top: 10%;
    left: 5%;
    z-index: 2;
    opacity: 0.2;
  }
  .experience {
    padding: 2rem 0 0 0;
  }
  .experience .experience-box {
    padding: 1rem 1rem;
  }
  .experience .experience-box .experience-info .heading {
    font-size: 1.5rem;
  }
  .experience .experience-box .experience-item .experience-header .experience-enterprise .experience-title {
    font-size: 0.7rem;
  }
  .experience .experience-box .experience-item .experience-header .experience-enterprise .experience-subtitle {
    font-size: 0.5rem;
  }
  .experience .experience-box .experience-item .experience-header .experience-work-time h1 {
    font-size: 0.5rem;
  }
  .experience .experience-box .experience-item .experience-header .experience-work-time h3 {
    font-size: 0.4rem;
  }
  .experience .experience-box .experience-body .text {
    font-size: 0.6rem;
  }
  .contact .container {
    grid-template-columns: 1fr;
  }
  .contact .container .contact-info {
    padding-bottom: 1rem;
  }
  .contact .container .contact-info .mail {
    font-size: 0.7rem;
  }
  .contact .container .contact-form {
    padding: 1.5rem 1rem;
  }
  .contact .container .contact-form h3 {
    font-size: 0.7rem;
  }
  .contact .container .contact-form .text-input {
    padding: 0.4rem 1rem;
    font-size: 0.7rem;
  }
  .contact .container .contact-form textarea {
    min-height: 100px;
  }
  footer .container {
    flex-direction: column;
  }
  .skills .skills-box {
    padding: 1rem 1rem;
  }
  .skills .skills-box .dots {
    width: 30px;
  }
  .skills .skills-box .skills-wrap .skills-heading .sub-heading {
    font-size: 0.6rem;
  }
  .skills .skills-box .skills-wrap .skills-heading hr {
    margin-bottom: 0.4rem;
  }
  .skills .skills-box .skills-wrap .skills-group {
    grid-template-columns: repeat(3, 100px);
  }
  .skills .skills-box .skills-wrap .skills-group .skill {
    padding: 0.7rem;
  }
  .skills .skills-box .skills-wrap .skills-group .skill .sk-image {
    /*  width: 50px;
    height: 50px; */
  }
  .skills .skills-box .skills-wrap .skills-group .skill .sk-title {
    font-size: 10px;
  }
}/*# sourceMappingURL=styles.css.map */